
.mt-15 {
  margin-top: 15px;
}

.mr-5 {
  margin-right: 5px;
}

.mr-10 {
  margin-right: 10px;
}

.mb-20{
  margin-bottom: 20px;
}

.mb-30{
  margin-bottom: 30px;
}

.ml-5 {
  margin-left: 5px;
}

.mt-12{
  margin: 12px;
}

.pr-5 {
  padding-right: 5px;
}

.dropdown-menu .fa:before {
  padding-right: 10px;
}

.fa-times{
 font-size: 40px;
 color: black;
}

.text-right {
  float: right;
  cursor: pointer;
}

.text-right:hover {
  color: red;
}

.panel-title{
  color: rgb(21, 255, 0);
}

.label-danger{
  color: rgb(253, 37, 37);
  cursor: pointer;
}

.label-info{
  color: rgb(55, 253, 37);
  cursor: pointer;
}

.sort_selected::after {
  content: '\f00c';
  font-family: FontAwesome;
  font-weight: normal;
  font-style: normal;
  margin: 0px 0px 0px 10px;
  display: inline-block;
}

.panel{
  border-radius: 3px;
  border: 1px solid rgb(96, 96, 96);
  padding: 15px;
}